/*
Name: SourceHanSansCN (思源黑体)
Format: OTF
Display: block
for: https://www.npmjs.com/package/@moonphy/sourcehansans-cn?activeTab=code
License: SIL Open Font License 1.1
Link: https://github.com/adobe-fonts/source-sans/blob/release/LICENSE.md
*/
@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-ExtraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-Normal.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-Medium.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('https://cdn.jsdelivr.net/gh/langyamu/_font-source/source-han-sans/font/SourceHanSansCN-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}